<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883962169938-051dv8pgil5i3nfluh7ccjo2fa1meq5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883962169938-051dv8pgil5i3nfluh7ccjo2fa1meq5i</string>
	<key>API_KEY</key>
	<string>AIzaSyD4fgW5xQzQ34W-577xK0cFAmEoTx2N5gw</string>
	<key>GCM_SENDER_ID</key>
	<string>883962169938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juanhernandez.Perfiles</string>
	<key>PROJECT_ID</key>
	<string>profileapp-2371c</string>
	<key>STORAGE_BUCKET</key>
	<string>profileapp-2371c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883962169938:ios:3a1907cd688065075ead8b</string>
</dict>
</plist>